<body style="background-color: green;">
<div>
    <center><h1 style="color: white;">FORMULARIO DE ADOPACIÓN</h1></center>
</div>

<form method="post">
    <div>
        <label for="" style="color: white;">NOMBRE: </label>
        <input type="text" name="nombre" id="" class="form-control">
    </div>
    <div>
        <label for="" style="color: white;">APELLIDO PATERNO: </label>
        <input type="text" name="apepa" id="" class="form-control">
    </div>
    <div>
        <label for="" style="color: white;">APELLIDO MATERNO: </label>
        <input type="text" name="apema" id="" class="form-control">
    </div>
    <div class="form-group">
        <label for="" style="color: white;">TIPO DE MASCOTA: </label>
            <select name="tipo" id="" class="form-control">
                <option value="perro">PERRO</option>
                <option value="gato">GATO</option>
            </select>
    </div>
    <div>
        <label for="" style="color: white;">DESCRIPCIÓN: </label>
        <textarea type="text" name="descripcion" cols="30" rows="10" id="" class="form-control"></textarea>
    </div>
    <div>
        <label for="" style="color: white;">TELÉFONO: </label>
        <input type="text" name="telefono" id="" class="form-control">
    </div>
    <div class="form-group">
        <label for="" style="color: white;">DISTRITO: </label>
            <select name="distrito" id="" class="form-control">
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
            </select>
    </div>    
    <div>
        <label for="" style="color: white;">DIRECCIÓN: </label>
        <input type="text" name="direccion" id="" class="form-control">
    </div>
    <br>
    <center><button class="btn btn-primary">ENVIAR</button></center>
</form>
</body>

